.search_bar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;

}

.form_group span{
    font-size: 1.8rem;
    color: rgb(10, 69, 196);
}

.form_group input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}
.form_group h6{
    margin-bottom: 0;
}

.form_group input:focus{
    margin-bottom: 0;
}

.search_icon{
    font-size: 1.6rem;
    padding: 0.5rem;
    background:var(--primary-color);
    content: #ffff;
    border-radius: 5px 20px 20px 5px;
}